.box{
    width:500px;
    text-align:center;
    padding:60px;
}
.heading{
    font-family: montserrant;
    font-size:43px;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text{
    font-family: montserrant;
    font-size:25px;
    cursor:pointer;

}